# Node modules
backend/node_modules/
node_modules/

# Environment variables
backend/.env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Optional: ignore lock files if you don’t want them in git
package-lock.json
yarn.lock
pnpm-lock.yaml

node_modules/
.env
.env.*
*.zip
.DS_Store